:root {
    --color-red: #790604; /* вишнево-красный */
    --color-azure: #007ba7; /* лазурный */
    --color-gray-primary: #808080; 
    --color-gray-secondary: #5a5a5a;
    --color-orange: #ea9b30; /* светло-оранжевый */
    --color-sandybrown: #f4a460; /* песчаный */
    --color-paleyellow: #FFDB8B; /* бледно-желтый */
    --color-beige: #f5f5dc; /* бежевый */
}

html, body {
    height: 100%;
}

body {
    font-family: 'Montserrat';
    background-color: var(--color-beige);
}

.header, .navbar {
    background-color: var(--color-red);
}

.nav-link {
    color: white;
}

.alert-custom {
    position: fixed;
    top: 0;
    margin: 10px;
    z-index: 1000000;
    border-radius: 5px;
}

.main {
    background-color: var(--color-beige);
}

.about-account {
    --bs-gutter-x: 0;
    height: 250px;
    background-image: url(/assets/moskva.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 15%;
}

.table {
    word-wrap: break-word;
}

@media screen and (max-width: 660px) {
    * {
        font-size: calc(2.5vw);
    }
}