:root {
    --color-red: #790604; /* вишнево-красный */
    --color-azure: #007ba7; /* лазурный */
    --color-gray-primary: #808080; 
    --color-gray-secondary: #5a5a5a;
    --color-orange: #ea9b30; /* светло-оранжевый */
    --color-sandybrown: #f4a460; /* песчаный */
    --color-paleyellow: #FFDB8B; /* бледно-желтый */
    --color-beige: #f5f5dc; /* бежевый */
}

.about {
    background-color: var(--color-sandybrown);
    background-image: url(/assets/azure-sea.jpg);
    background-repeat: no-repeat;
    height: 400px;
    --bs-gutter-x: 0
}

.selected-item {
    background-color: var(--color-azure);
    color: var(--color-beige);
}

.pagination {
    flex-wrap: wrap;
}

@media screen and (max-width: 660px) {
    .guides-mountpoint img {
        width: 32px;
    }
}

#map-container {
    height: 500px;
    border: 1px solid black;
}